<div class="row" itemprop="author" itemscope itemtype="http://schema.org/Person">
    <div class="col-xs-12 col-md-4">
        <div id="profile">

            <div class="portrait" itemprop="image" style="background-image: url('{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}');"></div>

            <div class="portrait-title">
                <h2 itemprop="name">{{ .Site.Params.name }}</h2>
                <h3 itemprop="jobTitle">{{ .Site.Params.role }}</h3>
                {{ if and (.Site.Params.organization) (.Site.Params.organizationUrl) }}
                <h3 itemprop="worksFor"><a href="{{ .Site.Params.organizationUrl }}">{{ .Site.Params.organization }}</a></h3>
                {{ else }}
                {{ with .Site.Params.organization }}<h3 itemprop="worksFor">{{ . }}</h3>{{ end }}
                {{ end }}
            </div>

            <ul class="social-icon">
                {{ range .Site.Params.social }}
                <li>
                    <a href="{{ .link }}">
                    {{ if eq .icon_pack "ai" }}
                        <i class="ai ai-{{ .icon }} big-icon" aria-hidden="true"></i>
                    {{ else }}
                        <i class="fa fa-{{ .icon }} big-icon" aria-hidden="true"></i>
                    {{ end }}
                    </a>
                </li>
                {{ end }}
            </ul>

        </div>
    </div>

    <div class="visible-sm visible-xs"></div>

    <div class="col-xs-12 col-md-8" itemprop="description">

        {{ .Content }}

        <div class="row">

            {{ if isset .Site.Params.about "interests" }}
            <div class="col-sm-5">
                <h3>{{ with .Site.Params.about.str_interests }}{{ . | markdownify }}{{ end }}</h3>
                <ul>
                    {{ range .Site.Params.about.interests }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}

            {{ if isset .Site.Params.about "education" }}
            <div class="col-sm-7">
                <h3>{{ with .Site.Params.about.str_education }}{{ . | markdownify }}{{ end }}</h3>
                <ul class="ul-edu fa-ul">
                    {{ range .Site.Params.about.education }}
                    <li>
                        <i class="fa-li fa fa-graduation-cap"></i>
                        <div class="description">
                            <p class="course">{{ .course }}, {{ .year }}</p>
                            <p class="institution">{{ .institution }}</p>
                        </div>
                    </li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}

        </div>

    </div>
</div>
