<li itemscope itemtype="http://schema.org/CreativeWork">
    <i class="fa-li fa fa-file-text-o pub-icon" aria-hidden="true"></i>
    <span itemprop="author">
		{{ with .Params.authors }}
		{{ delimit . ", " }}
		{{ end }}
    </span>
    <span itemprop="name"><i>
		{{ .Title }}
    </i></span>
    <span itemprop="pub-publication">
                {{ .Params.publication}}
    </span>
    <p>{{ partial "publication_links" (dict "content" . "is_list" 1) }}</p>
</li>
